<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Página</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header>
        <h1>Escolinha do chiquinho</h1>
    </header>

    <nav>
        <a href="/alunos">Home</a>
        <a href="/alunos/listarAlunos">Listar Alunos</a>
        <a href="/alunos/formCadastroUser">Cadastrar</a>
        <a href="#about">About</a>
    </nav>

    <section>
        <h2>Sobre a Escola Chiquinho</h2>
        <p>A Escola Chiquinho é mais do que uma instituição educacional; é um espaço onde sonhos são nutridos e mentes são cultivadas. Fundada com a missão de proporcionar uma educação de qualidade, a Escola Chiquinho tem se destacado ao longo dos anos como um farol de aprendizado e desenvolvimento.</p>

        <p>Nossa equipe dedicada de educadores está empenhada em criar um ambiente acolhedor e inspirador, onde cada aluno é incentivado a explorar seu potencial máximo. Acreditamos que a educação vai além das salas de aula, e buscamos promover um aprendizado holístico que engloba não apenas o conhecimento acadêmico, mas também valores fundamentais como respeito, responsabilidade e empatia.</p>

        <p>Com instalações modernas e recursos tecnológicos, a Escola Chiquinho investe constantemente na melhoria contínua, adaptando-se às necessidades em evolução da educação. Estamos comprometidos em preparar os alunos para os desafios do futuro, capacitando-os a serem cidadãos críticos, criativos e comprometidos com a sociedade.</p>
    </section>

    <footer>
        <p>&copy; 2024 Escola Chiquinho. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
